/* App.css or a separate CSS file */

.nav-container {
    max-width: 800px; /* Adjust container width */
    margin: 0 auto; /* Center the container */
  }
  
  .nav-box {
    height: 150px; /* Fixed height for boxes */
    width: 100%;
    margin-bottom: 10px;
    padding: 20px; /* Increase padding for better spacing */
    text-align: center;
    font-size: 1rem; /* Adjust font size */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional box shadow */
    display: flex; /* Flexbox to center content */
    flex-direction: column; /* Column layout */
    justify-content: center; /* Center content vertically */
    overflow: hidden; /* Ensure content fits within the box */
  }
  
  .info-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f9fa;
    text-align: center; /* Center text */
    margin: 20px;
  }
  
  
  .outerBox {
    border: 2px solid black;
    border-radius: 8px;
  }

  .navBox:hover {
    transform: translateY(-15px);
  }